In [1]:
import pandas as pd

In [128]:
music = pd.read_csv("music.csv")
music = music.sample(frac = 1)
#music.head()

In [157]:
unique_genres = music["genre"].unique().tolist()
print(unique_genres)

['pop', 'blues', 'country', 'jazz', 'rock', 'hip hop', 'reggae']

In [209]:
tracks = music["track_name"].unique().tolist()[0:994]

In [210]:
df = pd.DataFrame(columns = ['id', 'label', 'name', '_start', '_end', '_type', 'rating'])

In [211]:
for i in range(0,7):
    df.loc[i] = [i, ":genre", unique_genres[i], '', '', '', '']

In [212]:
for i in range(7, 1001):
	df.loc[i] = [i, ":track", tracks[i-7], '', '', '', '']

In [215]:
df.tail(10)

        id   label                  name _start _end _type rating
991    991  :track           almond tree
992    992  :track         corduroy road
993    993  :track  fighting my way back
994    994  :track           you're gone
995    995  :track              platinum
996    996  :track   shutters and boards
997    997  :track   vivo hip hop (live)
998    998  :track        still unbroken
999    999  :track          hyper-ballad
1000  1000  :track    the ectopic stroll

In [121]:
#for i in range(1001, 1301):
#	df.loc[i] = [i, ":user", name["name"][i - 1001], '', '', '', '']

In [216]:
genres = []
row_no = 1001

In [217]:
for i in tracks:
    #genres.append(music.loc[music['track_name'] == i]['genre'].iat[0])
    df.loc[row_no] = [ '', '', '', df.loc[df['name'] == i]['id'].iat[0], unique_genres.index(music.loc[music['track_name'] == i]['genre'].iat[0]), 'BELONGS_TO', '']
    row_no+=1

In [218]:
#unique_genres.index(music.loc[music['track_name'] == 'she loves the way they love her']['genre'].iat[0]) #-> id of genre
#df.loc[df['name'] == 'she loves the way they love her']['id'].iat[0] #-> id of track name
df.tail(7)

     id label name _start _end       _type rating
1988                  994    2  BELONGS_TO
1989                  995    2  BELONGS_TO
1990                  996    3  BELONGS_TO
1991                  997    5  BELONGS_TO
1992                  998    1  BELONGS_TO
1993                  999    0  BELONGS_TO
1994                 1000    3  BELONGS_TO

In [220]:
df.to_csv('graph_dataset.csv')